body{
    background-image: linear-gradient(rgb(252, 163, 204), rgba(0, 128, 0, 0.568), rgba(44, 88, 176, 0.89));
    /*background: #ecdd898b; */
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
    background-color: #088d8d;
    color: rgba(7, 7, 63, 0.756);
  }


  /* an option for centering all the the text under these elements*/
h2, h3, p {
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
   color: rgba(7, 7, 63, 0.756);
   padding: 20px 20px;
   font-size: x-large;
   text-decoration: none;
}

figure {
  border: 8px #088d8d solid;
  padding: 10px;
  margin: 3%;
}

#image-1 {
    width: 700px;
    height: 500px;
}

#image-2, #image-3 {
    width: 500px;
    height: 350px;
}


figcaption {
    background-color: rgba(232, 135, 180, 0.842);
    color: rgba(7, 7, 63, 0.756);
    font-style: Bold;
    font-size: 150%;
    padding: 10px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    font-size: larger;
    background-color: #088d8d;
    color: rgba(7, 7, 63, 0.756);
}

/* johns navbar */

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*media queries should always go toward the bottom so that it goes after the selector I am trying to overwrite
/*media queries always follow this format: 

@media() {

}

*/

@media(max-width: 600px) {
    p{
        font-size: 1.25rem;
    }
}