/* background color for entire page. The 3 colors listed are what makes the gradient effect */
body {
  margin: 0;
  padding: 0;
  font-family: Optima;
  background-image: linear-gradient(rgb(249, 169, 204), rgba(0, 128, 0, 0.48), rgba(44, 88, 176, 0.70));
}

header {
  background-color: black;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Aligns content to the bottom of the header */
}

.title {
  margin: 0;
  margin-bottom: 10px; /* This is the space between the title and the nav bar */
}

.navigation a {
  color: yellowgreen;
  margin-right: 10px;
  text-decoration: none;
  padding: 10px 10px;
  font-size: x-large;
}

/* centering all the the text under these elements */
h2,
h3,
p {
  text-align: center;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column; /* Change to vertical layout */
  align-items: center; /* Center the items vertically */
  gap: 40px;
  justify-content: center;
}

.container a {
  position: relative; /* Create a relative positioning context */
  width: 800px; /* Set a fixed width */
  text-decoration: none;
  color: #333;
}

.container img {
  width: 100%;
  height: auto;
  opacity: .65; /* Sets opacity of photos */
  transition: 0.3s ease; /* Adds transition effect */
}

.container a:hover img {
  opacity: 1; /* Changes opacity to 100% on hover */
}

.container a::before {
  content: ''; /* Create a pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Adds white background with 80% opacity */
  opacity: 0; /* Hides initially */
  transition: opacity 0.3s ease; /* Adds transition effect */
}

.container h3 {
  position: absolute;
  bottom: 10px; /* Positions the text in the lower-left corner */
  left: 10px; /* Positions the text in the lower-left corner */
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Add white background with 80% opacity */
  font-size: 16px;
  color: #333;
  text-align: left; /* Aligns the text to the left */
}

.contact-me a {
  background: rgba(232, 135, 180, 0.658);
  border: 1px solid rgb(8, 141, 141);
  border-radius: 3px;
  color: rgba(7, 7, 63, 0.756);
  display: inline-flex;
  padding: 14px;
  text-decoration: none;
}

.contact-links a {
  margin: 10px;
  text-decoration: none;
  color: #333;
}

footer {
  background-color: black;
  color: yellowgreen;
  text-align: center;
  padding: 10px;
}

/* Responsive Layout Code */

@media (max-width: 768px) {
  header {
    align-items: flex-start;
  }

  .title {
    margin-bottom: 10px;
  }

  .navigation {
    margin-top: 10px;
  }

  .container a {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  main {
    padding: 10px;
  }

  .container {
    gap: 10px;
  }

  .container a {
    flex: 1 1 100%;
  }
}
