header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
    background-color: #088d8d;
    color: rgba(7, 7, 63, 0.756);
  }


  /* an option for centering all the the text under these elements*/
h2, p {
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
   color: rgba(7, 7, 63, 0.756);
   padding: 20px 20px;
   font-size: x-large;
   text-decoration: none;
}

/* this styling is not working, must debug
. card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
    }
 */  

  figure {
  border: 8px #088d8d solid;
  padding: 10px;
  margin: 3%;
}

figcaption {
    background-color:rgba(95, 226, 255, 0.701);
    color: black;
    font-style: Bold;
    font-size: 150%;
    padding: 10px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #088d8d;
    color: rgba(7, 7, 63, 0.756);
}

